/*
 * css styles go here
 */


body {
  background-color: gray;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
}

a, a:visited {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  color: #ff3300;
}

li {
  color: white;
}

p {
  margin-left: 12px;
}



#header {
  padding: 4px;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
  color: #ffffff;
}

#header .small {
  font-size:    90%;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}




